﻿<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Homepage by rhysma</title>
	<script src="angular.min.js"></script>
  </head>
  <body>
    
	<div id="container">
            <div id="login" ng-app='angular_post_demo' ng-controller='sign_up'>
                <input type="text" size="40" ng-model="email"><br>
                <input type="password" size="40" ng-model="password"><br>
                <button ng-click="check_credentials()">Login</button><br>
                <button ng-click="resetController()">Reset</button>
                <span id="message"></span>
            </div>
</div>
  </body>
</html>